@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&family=Tenor+Sans&display=swap');

@font-face {
  font-family: "Coalesence";
  src: url("public/Coalesence.otf") format("opentype");
}

@font-face {
  font-family: "Shimmy";
  src: url("public/Coalesence.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Tenor Sans';
}

::-webkit-scrollbar { 
  display: none; 
  }

.navMenu {
  text-align: right;
  background-color:#fff7ff !important;
  padding-right:100px;
  padding-left:100px;
  padding-top:20px;
}


#home-block {
  text-align: center;
  position: absolute;
  width: 100%;
  position: fixed;
  top: 0%;
  z-index: 10000;
}

/* #home-block .navMenu{
  position:relative;
  top:0%;
  left:0%;
  margin-top:10%
} */

.white {
  color: white;
}

#home-block a {
  color: #000000;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
  /* border-bottom: 3px solid rgba(0, 0, 0 ,0); */
  transition: all 700ms;
  text-align: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 10px;
  vertical-align: top;
  font-family: "Coalesence" !important;
}

/* #home-block .navMenu a{
  margin-top:3%;
  font-size:40px;
} */

.navMenu a span{
  font-family: "Coalesence" !important;
}

.navMenu a:hover {
  /* font-size: 55px; */
  text-decoration: none !important;
  color:#198754 ;
}


.nameText {
  text-align: left;
  float:left;
  margin-left:30px
  /* position: fixed;
  top: 0%;
  right: 100px; */
}

.nameBlock{
  background-color: #fff7ff !important;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff7ff !important;
  overflow-x: hidden
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translateY(10%);
  }

  to {
    opacity: 1
  }
}

h1 {
  font-size: 260px;
  font-family: "Coalesence";
  font-weight: normal;
}

#prev_btn {
	background: none;
	border: none;
	height: 80%;
	font-size: 50px;
	color: white;
	margin-left:50px;	
}
	
#next_btn {
	background: none;
	border: none;
	height: 80%;
	font-size: 50px;
	color: white;
	float:right;
	margin-right:50px;
}

.rainbow {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 2rem;
}

.rainbow::before {
  content: '';
  position: absolute;
  /* z-index: -2; */
  left: -50%;
  top: -50%;
  width: 200%;
  height: 300%;
  background-color: #399953;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
  animation: rotate 10s linear infinite;
}

.rainbow::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: 100%;
  height: 100%;
  background-color: #fff7ff;
}

.content p {
  display: inline;
  background-repeat: no-repeat;
  transition: all 500ms ease-in-out;
  margin-top: 3%;
}

.v6 p {
  background-position: center left;
  background-size: 100% 15px;
  background-image: linear-gradient(to right, #000, #000);
  padding-bottom: 4px;
}

.v6:hover p {
  background-position: bottom left;
  background-size: 100% 2px;
  font-style: italic;
}

@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,700');

.top-img {
  width: 100%;
  position: absolute;
  height: 40%;
  top: 70px
}

.top-img h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 90px;
  text-align: center;
  font-family:Coalesence;
  width: 100%;
}

.top-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  object-position: 80% 35%;
}

#cursor {
  position: absolute;
  left: -28px;
  top: -34px;
  will-change: transform;
  transform: translate(-999px, -999px);
  pointer-events: none;
}

#cursor img {
  will-change: transform;
  transition: transform .1s linear;
}

@keyframes color-blink {
  0% {
    color: hsla(5, 83%, 53%, 1)
  }

  14% {
    color: hsla(33, 88%, 59%, 1);
  }

  28% {
    color: hsla(62, 98%, 66%, 1);
  }

  42% {
    color: hsla(102, 81%, 61%, 1);
  }

  56% {
    color: hsla(170, 94%, 72%, 1);
  }

  70% {
    color: hsla(227, 100%, 48%, 1);
  }

  84% {
    color: hsla(279, 91%, 59%, 1);
  }

  100% {
    color: hsla(279, 91%, 59%, 1);
  }
}

.contact-pic {
  position: fixed;
  bottom: 0;
  right: 0;
}

.contact-pic img {
  width: 28%;
}

.work-box {
  /* border:1px solid red; */
  width: 400px;
  height: 400px;
  transition: all 0.4s;
  margin: 50px;
  display: flex;
  position: relative;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin:auto;
  /* box-shadow: 0px 3px 15px rgba(0,0,0,0.5); */
}


/* .work-box:hover{
  width:500px;
  height:500px;
  margin:0px;
} */

.work-box img {
  width: 50%;
  transition: all 0.5s;
}

.work-box h1 {
  background-color: rgba(95, 95, 95, 0.808);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 60%;
  text-align: center;
  padding-top: 20px !important;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  transition: all 0.1s;
  transform-origin: center;
  font-family:Coalesence;
  display:none;
}

.work-box:hover>h1 {
  background-color: rgba(95, 95, 95, 1);
  box-shadow: 5px 5px #198754;
}

.work-box #img1 {
  height: 50%;
  width: 50%;
  object-fit: cover;
  margin-top: 50px;
  margin-left: 50px;
}


.work-box #img2 {
  height: 65%;
  width: 65%;
  object-fit: cover;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.work-box #img3 {
  height: 50%;
  width: 50%;
  object-fit: cover;
  position: absolute;
  bottom: 0px;
  left: 0px;
  opacity: 0;
  transform: translate(25%, -25%);
}


.work-box #img4 {
  height: 50%;
  width: 50%;
  object-fit: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: 0;
  transform: translate(-25%, 25%);
}


.work-box:hover #img1 {
  transform: translate(-25%, -25%);
}


.work-box:hover #img2 {
  transform: translate(25%, 25%);
}

.work-box:hover #img3 {
  transform: translate(0%, 0%);
  opacity: 1;
}


.work-box:hover #img4 {
  transform: translate(0%, 0%);
  opacity: 1;
  display: block;
}

.work-body {
  top: calc(40% + 80px);
  position: absolute;
  margin: 3% 10% !important;
}



/* Styles the thumbnail */

a.lightbox img {
  width: 100%;
  transition: transform .2s;
  /* vertical-align: top; */
  margin:2%;
}

a.lightbox{
  z-index:100
}

.work-body p {
	font-size:25px;
	text-align: left;
}

.image-box img{
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

/* .image-box img:hover {opacity: 0.7;} */

.image-box img:hover {cursor: default;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  border:none !important;
  box-shadow:none !important;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff !important;
  font-size: 80px !important;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: white !important;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #198754;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 6px;
  bottom: 0;
  left: 0;
  background-color: #198754;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.footer {
  position: fixed;
  left: 0;
  bottom: -7px;
  width: 100%;
  background-color: #fff7ff;
  color: black;
  text-align: center;
  padding-top:5px;
}

#small-work{
  display:none;
}
#regular-work{
  display:block;
}


@media only screen and (max-width:961px){
  #small-work{
    /* display:block; */
  }
  #small-work #img1{
    margin:auto !important;
  }

  /* .nameText{
    display: none;
  } */

  .work-body p{
    font-size: 22px !important;
  }

  #regular-work{
    /* display:none; */
  }

  #work-content h2{
    font-size:100px !important
  }

  .text-holder{
    /* font-size:25px !important; */
    margin: 0 10%
  }

  .text-holder p,a,span{
    font-size:22px !important;
  }

  #about-box{
    top:125px !important
  }

  .navMenu{
    padding-left: 50px;
    padding-right: 50px;
  }

  .nameText{
    display:block !important;
    margin-left:0px;
  }

  #regular-work{
    top:5% !important;
  }
  
  .footer p {
    font-size: 12px !important;
  }
  
}